@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&family=Ubuntu:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: arial;
}
html{
    scroll-behavior: smooth;
}
/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    position: sticky;
    width: 100%;
    z-index: 2;
    top: 0px;
}
.navbar img{
    width: 50px;
    border-radius: 50%;
    border: 3px solid white;
    margin: 5px 40px;
}
.navbar ul{
    display: flex;
}
.navbar li{
    list-style: none;
    margin: 0px 30px;
}
.navbar li a{
    text-decoration: none;
    color: white;
}

.search{
    position: absolute;
    right: 20px;
    margin: 0px 5px;
    border-color: white;
    padding: 7px;
}
.search-i{
    border-top-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    margin: 0px 10px;
    padding: 7px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
}
.search-b{
    border-top-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    margin: 0px 20px;
    padding: 7px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.background{
    background: rgba(0,0,0,0.7) url(../image/backgroud.avif);
    background-size: cover;
    background-blend-mode: darken;
}


/* Section */
section{
    display: flex;
    padding-top: 200px;
    justify-content: space-evenly;
    background-image: rgba(0,0,0,0.5);
    color: white;
}
.left{
    width: 40%;
    position: relative;
    left: 10%;
    height: 80vh;
}
.left .tx-big{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Dancing Script';
}
.left .tx-small{
    font-size: 20px;
    font-family: cursive;
}
.right{
    width: 40%;
    position: relative;
    top: -20px;
    right: 0;
    height: 80vh;
    text-align: center;
}
.right img{
    width: 300px;
    border-radius: 50%;
    border: 4px solid white;
}
.btn{
    padding: 7px 10px;
    border-top: 20px;
    border: 2px solid white;
    background: transparent;
    color: white;
    border-radius: 10px;
    margin-top: 10px;

}
/* Blog  */
.blog{
    padding: 20px auto;
    margin: 70px auto;
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog .text{
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.blog h2{
    font-family: 'Dancing Script';
    font-weight: 900;
    letter-spacing: 1px;
}
.blog-r{
    flex-direction: row-reverse;
}
.blog p{
    font-family: cursive;
}
.blog img {
    width: 20%;
    border: 4px solid black;
    border-radius: 20px;
}
/* Services */
.serve{
    background: rgba(0,0,0,0.7) url(../image/Services.avif);
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0px;
}
.serve h1{
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 5px;
}
.serve p{
    letter-spacing: 2px;
}
.serve img{
    height: 200px;
    width: 250px;
    margin: 35px 15px;
}
.service-img{
    justify-content: center;
    align-items: center;
}
/* Contact Form */
.center{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    padding: 250px 0px 250px 0px;
}
.center form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.center h1{
    font-family: ubuntu;
    font-size: 45px;
}
.background2{
    background: rgba(0,0,0,0.7) url("../image/Contact.webp");
    background-size: cover;
    background-blend-mode: darken;
}
.blue{
    height: 30px;
    width: 100%;
    padding-left: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid white;
}
.blue1{
    padding-top: 5px;
    height: auto;
}
.submit{
    height: 35px;
    width: 100px;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(to right, #0000ff, #000);
    cursor: pointer;
}
footer{
    color: white;
    padding: 15px 0px;
    text-align: center;
    font-size: 14px;
}
